﻿    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-latest.js"></script>
    <script src="~/Scripts/myjava.js"></script>
    <script src="~/Scripts/1241118-RutTrichWeb.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/mustache.js"></script>
    <script src="~/Scripts/TestIQ.js"></script>
    <script src="~/Scripts/jquery.jclock.js"></script>
<div class="wrapper">
        <div class="maincontent">
            <div class="logo"><img src="../Images/logo.png" width="379" height="60" alt="webdesigntuts+ logo"></div>

            <ul class="tabs">
                <li><a href="#tab1">Test IQ</a></li>
                <li><a href="#tab2">Jokes</a></li>
            </ul>

            <div class="tab_container">
                
                <div id="tab1" class="tab_content">
                    <div class="news_category_title">
                        <div class="cate_title">
                            KIỂM TRA IQ
                        </div>
                        <hr class="clear">
                    </div>
                    <div id="PictureTop">
                        <img id="ctl00_ctnBody_ImgTop" src="../Images/Cartoon%20Einstein.jpg" style="height:180px;border-width:0px;text-align:center;" alt="Cartoon%20Einstein" title="Cartoon%20Einstein">
                        <i style=""></i>
                    </div>
                <br>
                    <div class="clock none_display">
                        <b>Số phút còn lại: </b><span id="timer"></span>
                    </div>
                    <div id="qtn" class="iq">
                        <table id="iq_intro" class="iq_intro" cellpadding="0" cellspacing="10">
                            <tbody>
                                <tr>
                                    <th>
                                        - Đặc điểm :
                                    </th>
                                    <td>
                                        Giỏi làm việc với các con số . Năng lực này được thể hiện ở các khả năng như tính
                                        toán, phân tích, tổng hợp và nhận định
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        - Số Câu hỏi :
                                    </th>
                                    <td>
                                        60 Câu
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        -Tuổi của bạn:
                                    </th>
                                    <td>
                                        <select id="ddlAge">
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16" selected="selected">16 trở lên</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <a class="awesome" onclick="GetQues(1)">Bắt đầu</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div><!--End Tab 1 -->
                <div id="tab2" class="tab_content">
                    <script>
                        $.getJSON("http://service-9.apphb.com/api/htmlxpath", function (dssv) {
                            var kq = "<div class=\"post\">{{#.}}<h3><a href=\"#\">{{Title}}</a></h3>\
                                    <span class=\"postInfo\">{{datetime}}</span>\
                                    <p>{{Content}}</p>\
                                     {{/.}}<div>";
                            $("#tab2").html(Mustache.render(kq, dssv));
                        });
                    </script>
                </div>
            </div><!--End Tab Container -->

        </div><!--End Main Content-->
    </div><!--End Wrapper -->